<h2 mat-dialog-title>Create new context</h2>
<mat-dialog-content>
  <div>
    <mat-form-field appearance="standard">
      <mat-label>Parent</mat-label>
      <input matInput placeholder="name" disabled="true" value="{{ data.parent }}">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="standard">
      <mat-label>Group name</mat-label>
      <input matInput placeholder="Group name" [formControl]="nameControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="nameControl.hasError('required')">
        Please add group name
      </mat-error>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="createNew()">Create</button>
  <button mat-raised-button (click)="close()">Cancel</button>
</mat-dialog-actions>
