.spinner-backdrop {
	z-index: 1001;
}

@keyframes spinner {
	to {transform: rotate(360deg);}
}

.spinner:before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 40%;
	left: 50%;
	width: 150px;
	height: 150px;
	margin-top: -10px;
	margin-left: -10px;
	border-radius: 50%;
	border-top: 6px solid #07d;
	border-right: 6px solid transparent;
	animation: spinner .6s linear infinite;
}

