<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="home">
    <th mat-header-cell *matHeaderCellDef> Home </th>
    <td mat-cell *matCellDef="let element"> {{element.home}} </td>
  </ng-container>

  <ng-container matColumnDef="away">
    <th mat-header-cell *matHeaderCellDef> Away </th>
    <td mat-cell *matCellDef="let element"> {{element.away}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{ element.start | date: 'short'}} </td>
  </ng-container>

  <ng-container matColumnDef="result">
    <th mat-header-cell *matHeaderCellDef> Result </th>
    <td mat-cell *matCellDef="let element"> {{element.result}} </td>
  </ng-container>

  <ng-container matColumnDef="myBet">
    <th mat-header-cell *matHeaderCellDef> My Bet </th>
    <td mat-cell *matCellDef="let element"> {{element.bet}} </td>
  </ng-container>

  <!-- Operations Column -->
  <ng-container matColumnDef="betOps">
    <th mat-header-cell *matHeaderCellDef ></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="editBet(element)" *ngIf="!element.isRunning">
        <mat-icon aria-label="Delete">edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
