<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="margin-r">ZH BET</span>
    <div *ngIf="isAdmin" class="button-row">
      <button mat-button routerLink="teamAdmin">Teams Admin</button>
      <button mat-button routerLink="admin">Match Admin</button>
    </div>
    <div class="button-row fill-remaining" *ngIf="user">
      <button mat-button routerLink="home">Home</button>
      <button mat-button routerLink="bets">Bets</button>
      <button mat-button routerLink="team">Teams</button>
      <button mat-button routerLink="riport">Reports</button>
      <!--
      <button mat-button routerLink="matches">Matches</button>
      -->
    </div>
    <span *ngIf="user">
      <button mat-button (click)="changeNameDialog()">Welcome {{ user.name }}</button>
      <button mat-button (click)="logout()">Logout</button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card *ngIf="user && !user.context">
  <mat-card-title>!!!</mat-card-title>
  <mat-card-content>
    <b style="color: red">Ha látod ezt a feliratot, akkor nem neveztél a fizetős bajnokságba, vagy nem vett fel Golyó téged oda !
      Csak ő tudja miért, kérdezz bátran tőle !
    </b><br/>
    A 'Reports' menü alatt látod kik neveztek már !
  </mat-card-content>
</mat-card>
<router-outlet></router-outlet>
<app-spinner></app-spinner>
