<mat-card>
  <mat-card-title>Information</mat-card-title>
  <mat-card-content>
    <a target="_blank" href="https://hu.wikipedia.org/wiki/2018-as_labdar%C3%BAg%C3%B3-vil%C3%A1gbajnoks%C3%A1g#Egyenes_kies%C3%A9ses_szakasz">
      2018 VB Wikipedia
    </a>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Csapat pontozás</mat-card-title>
  <mat-card-content>
    <h4>Tedd meg csapat tippjeidet az első meccs kezdetéig, Teams menüpont alatt !</h4>
    <ul>
      <li>Csapat nyer: 3 pont.</li>
      <li>Csapat döntetlen: 1 pont.</li>
      <li>Csapat továbbjut: 3 pont (ez selejtezőkben is jár, azaz ha a döntőben 1-1 az eredmény, akkor a győztes 4 pontot kap.)</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Tipp pontozás</mat-card-title>
  <mat-card-content>
    <h4>Tedd meg meccs tippjeidet legkésőbb a meccs kezdetéig, a Bets menüpont alatt !</h4>
    <ul>
      <li>Kimenetelt eltalálod: 2 pont (ki nyer, vagy a döntetlen).</li>
      <li>Gólkülönbséget eltalálod: 1 pont</li>
      <li>Első csapat rugott góljainak számát eltalálod: 1 pont</li>
      <li>Második csapat rugott góljainak számát eltalálod: 1 pont</li>
    </ul>
    <div>
      Tehát max 5 pont szerezhető telitalálattal, meccsenként.
    </div>
  </mat-card-content>
</mat-card>
