@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.margin-r {
  margin-right: 20px;
}

.context-tree-container {
  min-height: 600px;
}

table {
  width: 100%;
}

table tr.mat-row {
  height: 30px;
}

table tr.mat-header-row {
  height: 40px;
  font-weight: bold;
}
